$primaryColor: #08c2f8;
$secondaryColor: #fff;
$darkBlue: #001d26;
$black: #333;



html, body {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', sans-serif;
  }

  * {
	box-sizing: border-box;
  }

  .offer {
	  color: #333;
  }

  .text-top h1 {
	font-size: 3.5rem;
	font-style: italic;
	font-family: "Oswald", sans-serif;
	line-height: 1.125;
	color: $primaryColor;
  }

  .text-top p {
	font-size: 1.5rem;
	color:#333;
  }

  .greenbutton {
		background-color: #27ae60;
		font-family: 'Noto Sans', sans-serif;
		text-align: center;
		padding: 2.5% 4%;
		border: none;
		cursor: pointer;
		font-weight: 300;
		color: #fff;
		border-radius: 2px;
		font-size: 28px;
		box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
		overflow: hidden;
    margin: 0 auto;
    font-family: "Impact", sans-serif;
  }

  .greenbutton2 {
			background-color: #27ae60;
		font-family: 'Noto Sans', sans-serif;
		text-align: center;
		padding: 1.2% 4%;
		border: none;
		cursor: pointer;
		font-weight: 300;
		color: #fff;
		border-radius: 2px;
		font-size: 28px;
		box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
		overflow: hidden;
    margin: 0 auto;
    font-family: "Impact", sans-serif;
  }
  
  .blackbutton {
		background-color: $darkBlue;
		padding: 15px;
		font-size: 1.65rem;
		font-weight: 700;
		text-align: center;
		border: solid $darkBlue 4px;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		color: #fff;
		font-family: 'Noto Sans', sans-serif;
	}

  .potente h3 {
	font-size: 1.8rem;
  background: linear-gradient(31deg, $darkBlue, $primaryColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  }

	.potente p {
		background: linear-gradient(31deg, $darkBlue, $primaryColor);
		-webkit-background-clip: text;
		-webkit-text-fill-color:transparent;
		font-size: 1.25rem;
		text-transform: uppercase;
		font-weight: bold !important;
	}

	.potencia {
		color: $secondaryColor;
		font-family: 'Noto Sans', sans-serif;
		text-align: center;
		font-size: 1.8em;
		font-weight: bold;
		text-transform: uppercase;
		font-style: italic;
	}

	.potente img {
		margin-bottom: 3vh;
	}

	.imgEfect {
		transition: all .2s ease-in-out
	}
	.imgEfect:hover {
		transform: scale(1.2)
	}

	.section2 {
		background: linear-gradient(0deg, #08c2f8, #015973);
		padding: 25px;
	}

	.section2 h2 {
		color: #e0e0e0;
		font-size: 2.75rem;
		text-transform: uppercase;
		font-weight: bold !important;
		font-family: 'Noto Sans', sans-serif;
	}

	.section2 p {
		text-align: justify;
		text-align-last: center;
		font-size: .9em;
		font-family: 'Noto Sans', sans-serif;
		color: $secondaryColor;
		font-weight: 400;
		line-height: 1.5;
		
	}

	.colorText {
		font-size: 1.8rem;
		font-weight: 700;
		background: linear-gradient(31deg, $darkBlue, $primaryColor);
		-webkit-background-clip: text;
		-webkit-text-fill-color:transparent;
	}

	.offer {
		color: #363636;
		font-size: 1.35rem;
		font-weight: 500;
		line-height: 1.125;
	}

	.size {
		background-color: #2b2b2b;
		color: #fff;
		margin-top: 55px;
		

		h3 {
			font-size: 2rem;
			margin-bottom: 0.5rem !important;
			text-transform: uppercase;
			font-weight: bold !important;
			padding-top: 25px;
		}
		
		h4 {
			font-size: 1.75rem;
			margin-bottom: 0.5rem !important;
			text-transform: uppercase;
			font-weight: bold !important;
			padding-top: 25px;
		}

		span {
			text-transform: uppercase;
			font-weight: bold;
			color: $primaryColor;
		}
	}

	.medic {
    padding: 50px;
		h3 {
			font-size: 1.9rem;
			margin-bottom: 0.5rem !important;
			font-weight: bold !important;
			line-height: 1.125;
			color: $primaryColor;
		}
		.desc {
			font-size: .9rem;
			font-weight: bold;
			color: #363636;
      line-height: 1.125;
      text-align: center;
		}
    
    .firstp {
      color: #363636;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.125;
    }

      .btntext {
        text-align: justify;
        text-align-last: center;
        font-size: 1rem;
        padding: 2%;
        background-color: #f2f2f2;
        -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
      }
  }
  
  .benefits {
    h3 {
      font-size: 2.5rem;
    }

    h4 {
      color: $primaryColor;
    }

    p {
      font-size: 1.05rem;
      font-weight: 400;
      line-height: 1.5;
      color: #333;
    }

    img {
      width: 80%;
    }
  }

  .bg {
    height: 10px;
    background-color: red($color: #000000);
    background-image: linear-gradient(31deg, $darkBlue, $primaryColor);
    background-image: -moz-linear-gradient(31deg, $darkBlue,$primaryColor);
    background-image: -o-linear-gradient(31deg, $darkBlue,$primaryColor);
    background-image: -ms-linear-gradient(31deg, $darkBlue,$primaryColor);
    background-image: linear-gradient(31deg, $darkBlue,$primaryColor);
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  }

  .hero {

    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

}

.insurance {
  background-color: rgba(0, 0, 0, .8);
  h3 {
    color: #fff;
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: bold;
    span {
      color: $primaryColor;
    }
  }
}

.support {
  h3 {
    font-size: 2.25rem;
    font-weight: bold;
  }

  h5 {
    color: #363636;
    font-weight: bold;
    font-size: 1.5rem;
  }

  p {
    color: #363636;
    font-weight: bold;
    font-size: 1.5rem;
  }
}

.cards {
  background-color: #eee;
  h3 {
    font-size: 2.25rem;
  }
}

.legal {
  background: linear-gradient(31deg, $darkBlue, $primaryColor);
  color: white;
  h4 {
    font-size: 2.25rem;
    font-weight: bold;
  }

  p {
    text-align-last: center;
    text-align: justify;
    font-size: .9rem;
  }
}

.selo-top-left{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}


.selo-bottom-left{
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 999;
	width:100px
}

.pirate {
  background-color: #eee;
}
/* código reutilizado */



#block-11 .container {
	padding: 90px 0;
}

#block-11 .plans {
	display: flex;
	justify-content: center;
	margin: 0 0 30px;
}

#block-11 .plans .col {
	width: 33.3333333%;
	max-width: 33.3333333%;
	min-width: 33.3333333%;
	padding: 0 10px;
}

#block-11 .plans .item {
	background: #f9f9f9 top right no-repeat;
	margin: 0 0 35px;
	box-shadow: inset 0 0 0 8px #d8d7d5;
	border-radius: 8px;
}

#block-11 .plans .col.recommended .item {
	background: #fff8d9 top right no-repeat;
	box-shadow: inset 0 0 0 8px #508200;
}

#block-11 .plans .item a {
	display: block;
	position: relative;
	padding: 35px;
}

#block-11 .plans .item .discount {
	background: url(../images/bg_stamp_2.png) center no-repeat;
	width: 89px;
	height: 89px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 23px;
	font-weight: 700;
	font-style: italic;
	color: #fff;
	line-height: .85;
	text-align: center;
	text-shadow: 2px 2px 0 rgba(0,0,0,.15);
	text-transform: uppercase;
	position: absolute;
	top: -45px;
	right: 30px;
	animation: zoominout 3s infinite;
}

#block-11 .plans .col.recommended .item .discount {
	background-image: url(../images/bg_stamp_2.png);
}

#block-11 .plans .item .title {
	font-size: 16px;
	font-weight: 900;
	font-style: italic;
	color: #777;
	line-height: 1;
	text-transform: uppercase;
	margin: 0 0 10px;
}

#block-11 .plans .item .title b {
	font-size: 31px;
	color: $primaryColor;
	line-height: 1;
}

#block-11 .plans .item .image {
	margin: 0 0 20px;
}

#block-11 .plans .item ul {
	padding: 0;
	list-style: none;
	margin: 0 0 20px;
}

#block-11 .plans .item ul li {
	display: flex;
	align-items: center;
	font-size: 15px;
	color: #575757;
	margin: 3px 0;
}

#block-11 .plans .item ul li:before {
	content: '';
	background: url(../images/ico_check_1.png);
	width: 16px;
	max-width: 16px;
	min-width: 16px;
	height: 12px;
	margin: 0 10px 0 0;
}

#block-11 .plans .item .from {
	font-size: 20px;
	font-weight: 600;
	color: #575757;
	text-align: center;
}

#block-11 .plans .item .iptv {
	font-size: 28px;
	font-weight: 600;
	color: #ff8e00;
	text-align: center;
}

#block-11 .plans .item .from span {
	position: relative;
}

#block-11 .plans .item .iptv span {
	position: relative;
}

#block-11 .plans .item .from span:before,
#block-11 .plans .item .from span:after {
	content: '';
	background: #e21637;
	width: 100%;
	height: 2px;
	position: absolute;
	top: 12px;
	left: 0;
	transform: rotate(-12deg);
}

#block-11 .plans .item .from span:after {
	transform: rotate(12deg);
}

#block-11 .plans .item .to {
	font-size: 24px;
	font-weight: 900;
	font-style: italic;
	color: $primaryColor;
	text-align: center;
}

#block-11 .plans .item .to b {
	display: inline-block;
	vertical-align: middle;
	font-size: 70px;
	letter-spacing: -2px;
	line-height: 1;
}

#block-11 .plans .item .to b small {
	display: inline-block;
	vertical-align: top;
	font-size: 30px;
	line-height: 1;
	margin: 15px 0 0;
}

#block-11 .plans .item .to sup {
  top: 0;
	font-size: 40px;
}

#block-11 .plans .item .in-cash {
	font-size: 20px;
	color: #575757;
	text-align: center;
	margin: -5px 30px 25px 0;
}

#block-11 .plans .item .btn-buy-2 {
	margin: auto;
}

#block-11 .plans .item .best-seller {
	background: #ff8e00;
	padding: 20px 20px 15px;
	font-size: 18px;
	font-weight: 600;
	color: #ffffff;
	line-height: 1.1;
	text-align: center;
	margin: 30px -35px -27px;
}

#block-11 .plans .item .best-seller b {
	font-size: 28px;
	font-weight: 900;
	font-style: italic;
	color: #38311e;
	line-height: 1.1;
	text-transform: uppercase;
}

#block-11 .payment .mobile {
	display: none;
}

.btn-buy-2 {
	background: url(../images/btn_buy_2.png) top no-repeat;
	background-size: cover;
	width: 258px;
	height: 70px;
	display: block;
	position: relative;
	font-size: 0;
	overflow: hidden;
	border-radius: 4px;
	animation: zoominout 3s infinite;
}

@keyframes zoominout {

	0% {
		transform: scale(1.0);
	}

	15% {
		transform: scale(1.1);
	}

	30% {
		transform: scale(1.0);
	}

	45% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1.0);
	}
}

#block-14 .container {
	padding: 120px 0;
}

#block-14 .block-title {
	padding: 0;
	font-size: 48px;
	font-weight: 900;
	font-style: italic;
  background: linear-gradient(31deg, $darkBlue, $primaryColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
	line-height: 1.1;
	text-align: center;
	margin: 0 0 35px;
}

#block-14 .questions {
	display: flex;
	padding: 0 50px;
	justify-content: center;
}

#block-14 .questions .col {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	padding: 0 10px;
}

#block-14 .questions .item {
	font-size: 20px;
	color: #242424;
  border: solid 1px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
	margin: 0 0 20px;
	border-radius: 3px;
}

#block-14 .questions .item .answer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding: 15px 20px;
	cursor: pointer;
}

#block-14 .questions .item .answer:after {
	content: '';
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAALUlEQVQImWMICgr6HxQU9J8BB4DLwxjYFGPIYVOM0wBkCXy2YFWMy92ojkcDALwkNs2RiNU6AAAAAElFTkSuQmCC);
	width: 10px;
	height: 6px;
	margin: 0 0 0 15px;
	transition: transform .3s;
}

#block-14 .questions .item.active .answer:after {
	transform: rotate(-180deg);
	transition: transform .3s;
}

#block-14 .questions .item .question {
	display: none;
	padding: 0 20px 20px;
	font-size: 18px;
	color: #999;
}
	
@media (max-width: 994px) {

  #block-14 .container {
    padding: 80px 0 100px;
  }

  #block-14 .block-title {
    font-size: 38px;
  }

  #block-14 .questions {
    padding: 0;
    flex-wrap: wrap;
  }

  #block-14 .questions .col {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding: 0;
  }

  #block-14 .questions .item {
    font-size: 18px;
  }

  #block-14 .questions .item .question {
    font-size: 16px;
  }

  .selo-top-left{
    display: none;
  }

  .selo-bottom-left{
    display: none;
  }
}


